<header class="container-fluid">
    <nav class="row">
      <div class="header col-12">
        <ul class="nav nav-pills d-flex align-items-center">
          <img class="logo" src="../assets/logo.png" />
          <li class="nav-link"><a [routerLink]="['/inicio']" routerLinkActive="active">Início</a></li>
          <li class="nav-link"><a [routerLink]="['/buscar_estabelecimentos']" routerLinkActive="active">Buscar Estabelecimento</a></li>
          <li class="nav-link"><a [routerLink]="['/buscar_cronogramas']" routerLinkActive="active">Buscar Cronogramas</a></li>
          <!-- <li class="nav-link">Excursão</li> -->
          <li class="nav-link"><a [routerLink]="['/criar_cronograma']" routerLinkActive="active">Criar Cronograma</a></li>
          <a id="link-perfil" [routerLink]="['/perfil']" routerLinkActive="active">{{nomeUsuario}}</a>
          <a [routerLink]="['/perfil']" routerLinkActive="active"><i class="bi bi-person-circle fs-3"></i></a>
        </ul>
      </div>
    </nav>
  </header>
  
