#container {
    margin: 50px;
}

.container-link-voltar {
    margin-bottom: 20px;
}

.link-voltar {
    text-decoration: none;
}

.input-busca {
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.lista-estabelecimentos {
    margin: 30px;
}

.linha-estabelecimento {
    border-top: 1px solid #1f3b67;
    border-bottom: 1px solid #1f3b67;
    padding: 5px;
}

.btn-add {
    font-size: 15px;
    padding: 5px;
    background-color: #198754;
    color: white;
}